<form method="POST" action="/logout">

<button type="submit" name="logout" value="logout">logout</button>

</form>

<img src="../../public/img/pencil_icon.jpg" alt="Pencil_icongit checkout">
<a href="http://localhost:3000/newPostView" target="_blank">New Post</a>