<form method="POST" action="/logout">

<button class="alert alert-primary" type="submit" name="logout" value="logout" style="float: right;">logout</button>

</form>
<div class="row">
    <div class="col-3">
<img src="img/pencil_icon.jpg" alt="Ikon of a pencil" style=" width: 150px; height: 150px">
<div>
<a href="http://localhost:3000/newPostView" target="_blank">New Post</a> <br>
<a href="http://localhost:3000/adminPostList" target="_blank">Post Lists</a>
</div>
    </div>
    <div class="col-3">
<img src="img/database.png" alt="Ikon of a database" style=" width: 150px; height: 150px">
<form method="POST" action="/databaseChange">
<input type="text" name="choosenDB">
<button type="submit" class="alert alert-primary">Change Database</button>
</form>
    </div>
    <div class="col-3">
          <form method="POST" action="/themeChanger">
        <select id="themeSelect" name="theme">
            <option value="dark">Dark</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
        <button id="themeButton"  class="alert alert-primary" >Change Theme</button>
        </form>
    </div>

</div>
