<form method="POST" action="/logout">

<button type="submit" name="logout" value="logout">logout</button>

</form>

<img src="img/pencil_icon.jpg" alt="Ikon of a pencil" style=" width: 150px; height: 150px">
<a href="http://localhost:3000/newPostView" target="_blank">New Post</a>
<a href="http://localhost:3000/adminPostList" target="_blank">Post Lists</a>