<div>
  {{#each post}}
  <p>{{this.title}}</p>
  <div class="row justify-content-between">
    <div class="col-4">
      {{this.author}}
    </div>
    <div class="col-4">
      {{this.date}}
    </div>
  </div>
  <div class="row  ql-editor">
    <p>
      {{{this.content}}}
    </p>
  </div>
  {{/each}}
</div>