<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/quill.snow.css">
    <title>Blog</title>
</head>
<body class="p-3 mb-2 bg-warning text-dark">
  <div class="container">

{{{body}}}
  </div>  

<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/quill.js"></script>
</body>
</html>