<h1>New Post View</h1>
<form method="POST" action="/newPost">
<label>Title</label>
<input type="text" name="title" required>
<label>content</label>
<textarea name="content" required></textarea>
<button value="Discard" type="reset">Discard</button>
<button type="submit" name="newBlogPost" value="Publish">Publish</button>
</form>
{{fail}}
